.Rectangle-4 {
  width: 476px;
  height: 534px;
  padding: 17px 0 24px;
  opacity: 0.2;
  background-color: #f3f3f3;
}
.Rectangle-Copy {
  max-width: 800px;
  margin-left:  auto;
  margin-right: auto;
}